.min-width_768px() {
  .logo {
    clear:both;
    margin-top:0;
  }
  
  .nav-main {
    position:absolute;
    top:76px;
    margin-left:3%;
    li {
      width:auto;
      min-width:0px;
      margin:20px .1em 0 .1em;
      font-size:15px;
    }
  }
  .home-link { 
    clear:left;
    float:left;
    margin-top:20px; 
    position:static;
    margin-left:0;
    img {
      height:22px;
    }
  }
  .keyline {
    clear:both;
    font-size:9px;
    position:relative;
    top:-125px;
    float:right;
    padding-top:3px;
    li {
      float:left;
      padding:0 .5em;
    }
  }
  .logo { padding-top:40px; float:left;}
  .csso{ 
    float:right;
    position:relative;
    padding:0;
    top:-120px;
    clear:right;
  }
  .register { float:right; }
    .supplimental .item {
    clear:none;
  }
  .all-products {
    ol {
      float:left;
      padding:0 1% 0 2%;
      width:30%;
    }
    .insurance {
      border-left:1px solid grey;
      border-right:1px solid grey;
    }
  }
  .split{
    float:left;
  }
  .split-30 {
    width:27%;
    margin-left:2%;
  }
  .split-70 {
    width:70%;
  }
  .split-60 .section {
    width:100%;
  }

  .fireplace {
    .split-70 {
      width:100%;
    }
    .split-30 {
      width:100%;
    }
  }
  
  #sidebar {
    float:right;
  }
  .footer {
    clear:both;
  }
  .aside .item {
    float:left;
    padding:0 1%;
    width:45%;
    height:12em;
    overflow:hidden;
  }
  .footer .nav li {
    width:15%;
    font-size:66%;
  }
  .sec-col { width:30%; }
  
  #nav-secondary {
    a {
      font-size:100%;
      display:inherit;
      border:0;
      #gradient > .clear;
      padding:0;
    }
    li {
      padding-left: 14px;
    }
  }

  .cols {
    width:100%;
    display:inline-block;
  }
  
  .main-col {
    float:right;
    width:70%;
  }
  .sec-col {
    float:left;
  }

  #relaxfull { display:none; }
  #fullsite { display:inherit; }
  .wide-0, .wide-1 { display:inherit !important; }
  .narrow-0 { display:none !important; }
}