.min-width_920px() {
  .nav-main li {
    #percentage > .font-size(18, 12);
  }
  .home-link img {
    height:24px;
  }
  #metafaq .question select, #metafaq .question input {
    float:left;
    margin-right:1%;
    width:40%
  }
  #metafaq .question select{
    width:37%;
  }
  .img {
    img {
      width:33%;
    }
    .content {
      width:65%;
    }
  }
  .type-4 {
    margin:2%;
    width:43%;
  }
  .type-3 {
    img{
      width:23%;
    }
    .content {
      width:75%;
    }
  }
  .fireplace {
    .split-70 {
      width:70%;
    }
    .split-30 {
      width:28%;
    }
  }
}
