.min-width_920px() {
  .nav-main li {
    font-size:18px;
    &.active {
      padding-bottom:10px;
    }
  }
  .home-link img {
    height:24px;
  }
  #metafaq .question select, #metafaq .question input {
    float:left;
    margin-right:1%;
    width:40%
  }
  #metafaq .question select{
    width:37%;
  }
  .img {
    img {
      width:33%;
    }
    .content {
      width:65%;
    }
  }
  .type-3 {
    img{
      #percentage > .width(340, 723);
    }
    .content {
      #percentage > .width(360, 723);
    }
    .wrap {
      padding-left:3%;
      padding-right:3%;
      width:94%;
    }
  }
  .type-4 {
    .wrap {
      padding-left:7%;
      padding-right:7%;
    }
  }
  .main-col {
    float:right;
    width:79%;
  }
  .sec-col {
    float:left;
    width:21%;
  }
  .split-50 {
    width:49.3%;
  }
  .fireplace {
    .split-70 {
      width:70%;
    }
    .split-30 {
      width:28%;
    }
  }
  .elh li {
    width:100%;
    margin-left:1em;
  }
}
