.btn {
  border:1px solid #d4dbe3;
  text-decoration:none;
  color:#616568;
  #border > .radius(0.2em);
  text-transform:uppercase;
  padding:0 0.72em;
  text-decoration:none;
  font-family:Calibri, Verdana, Arial, sans-serif;
  font-weight:bolder;
  #percentage > .font-size(14, 12);
  cursor:pointer;
  #gradient > .linear-double(#f2f5f8, #f2f5f8, #e4ebf1);
  display:inline-block;
}