* {
  margin: 0;
  padding: 0;
}
/*! normalize.css 2011-09-22T17:42 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
.article,
aside,
.aside,
details,
.details,
figcaption,
.figcaption,
figure,
.figure,
footer,
.footer,
header,
.header,
hgroup,
.hgroup,
nav,
.nav,
section,
.section {
  display: block;
}
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */

  overflow-y: scroll;
  /* 2 */

  -webkit-text-size-adjust: 100%;
  /* 3 */

  -ms-text-size-adjust: 100%;
  /* 3 */

}
/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Corrects inner spacing displayed oddly in IE7 without effecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */

  -webkit-appearance: button;
  /* 2 */

  *overflow: visible;
  /* 3 */

}
/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Addresses excess padding in IE8/9
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* =============================================================================
   Lists
   ========================================================================== */
nav ul,
.nav ul,
nav ol,
nav ol {
  list-style: none;
  list-style-image: none;
}
body {
  color: #000066;
  font-family: Verdana, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: /* Brand,  */ Calibri, Helvetica, Arial, sans-serif;
  line-height: 1;
  color: #0051a3;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 87.5%;
  /* 280/320 */

  min-width: 280px;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0;
}
.logo {
  margin-top: 1em;
}
#login {
  clear: both;
}
.nav-main {
  padding: 0px;
}
.nav-main li {
  float: left;
  width: 90%;
  margin: .1em .1em;
  border: 1px solid #d4dbe3;
  text-decoration: none;
  border-radius: 0.2em;
  padding: 0 0.72em;
  text-decoration: none;
  font-family: Calibri, Verdana, Arial, sans-serif;
  font-weight: bold;
  font-size: 125%;
  cursor: pointer;
  white-space: nowrap;
  background-color: #f2f5f8;
  background-image: -webkit-gradient(linear, left top, left top, color-stop(0, #f2f5f8), color-stop(1, #e5eaf1));
  background-image: -webkit-linear-gradient(#f2f5f8, #f2f5f8, #e5eaf1, #e5eaf1);
  background-image: -ms-linear-gradient(top, #f2f5f8, #f2f5f8, #e5eaf1, #e5eaf1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f8', endColorstr='#e5eaf1', GradientType=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f8', endColorstr='#e5eaf1', GradientType=1)";
  background-image: -moz-linear-gradient(center top, #f2f5f8 0%, #e5eaf1 100%);
  background-image: -o-linear-gradient(#f2f5f8, #f2f5f8, #e5eaf1, #e5eaf1);
  background-image: linear-gradient(#f2f5f8, #f2f5f8, #e5eaf1, #e5eaf1);
}
.nav-main li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #004ca0;
}
.home-link {
  position: absolute;
  top: 0;
  right: 0;
}
.csso {
  padding-top: .75em;
  clear: both;
}
#login {
  font-size: 75%;
}
#login label {
  margin-bottom: 0.25em;
}
#csso-login {
  margin-bottom: 0.25em;
  max-width: 140px;
}
.register {
  font-size: 66%;
  margin-bottom: 0.25em;
}
#metafaq legend, #metafaq label {
  display: none;
}
#metafaq fieldset {
  border: 0;
}
#metafaq .question input, #metafaq .question select {
  width: 100%;
  margin-bottom: 0.5em;
}
.metafaq-question {
  width: 100%;
}
.btn {
  border: 1px solid #d4dbe3;
  text-decoration: none;
  color: #616568;
  border-radius: 0.2em;
  text-transform: uppercase;
  padding: 0 0.72em;
  text-decoration: none;
  font-family: Calibri, Verdana, Arial, sans-serif;
  font-weight: bolder;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  background-color: #f2f5f8;
  background-image: -webkit-gradient(linear, left top, left top, color-stop(0, #f2f5f8), color-stop(1, #e4ebf1));
  background-image: -webkit-linear-gradient(#f2f5f8, #f2f5f8, #e4ebf1, #e4ebf1);
  background-image: -ms-linear-gradient(top, #f2f5f8, #f2f5f8, #e4ebf1, #e4ebf1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f8', endColorstr='#e4ebf1', GradientType=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f8', endColorstr='#e4ebf1', GradientType=1)";
  background-image: -moz-linear-gradient(center top, #f2f5f8 0%, #e4ebf1 100%);
  background-image: -o-linear-gradient(#f2f5f8, #f2f5f8, #e4ebf1, #e4ebf1);
  background-image: linear-gradient(#f2f5f8, #f2f5f8, #e4ebf1, #e4ebf1);
}
.type-4 {
  border: 1px solid #d6dde7;
  float: left;
  padding: 1%;
  width: 95%;
  margin: 0 0 1em 0;
}
.wrap {
  background-color: #ebebec;
  background-image: -webkit-gradient(linear, left top, left top, color-stop(0, #ffffff), color-stop(1, #ebebec));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff, #ebebec, #ebebec);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff, #ebebec, #ebebec);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebec', GradientType=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebec', GradientType=1)";
  background-image: -moz-linear-gradient(center top, #ffffff 0%, #ebebec 100%);
  background-image: -o-linear-gradient(#ffffff, #ffffff, #ebebec, #ebebec);
  background-image: linear-gradient(#ffffff, #ffffff, #ebebec, #ebebec);
  padding: 1%;
  display: inline-block;
}
.nowrap {
  border: 1px solid #d5d9df;
  padding: 0.5em 2%;
  background-color: #f2f5f8;
  background-image: -webkit-gradient(linear, left top, left top, color-stop(0, #ffffff), color-stop(1, #f2f5f8));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff, #f2f5f8, #f2f5f8);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff, #f2f5f8, #f2f5f8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f5f8', GradientType=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f5f8', GradientType=1)";
  background-image: -moz-linear-gradient(center top, #ffffff 0%, #f2f5f8 100%);
  background-image: -o-linear-gradient(#ffffff, #ffffff, #f2f5f8, #f2f5f8);
  background-image: linear-gradient(#ffffff, #ffffff, #f2f5f8, #f2f5f8);
  margin-bottom: 1em;
}
.img .content {
  float: left;
  width: 74%;
  padding-right: 1%;
}
.img img {
  float: right;
  width: 24%;
  max-width: 100%;
  margin-top: 1em;
  margin-right: 1%;
}
.supplimental .item {
  clear: both;
}
.all-products .nav {
  display: inline-block;
  width: 100%;
  margin-top: 0.5em;
}
.all-products ol {
  padding-left: 1em;
  text-indent: -1em;
}
.menu li {
  font-size: 75%;
  margin-bottom: 1em;
  padding-left: 1.2em;
  color: #c00;
}
.menu li:before {
  content: "\00BB \0020";
}
.menu li a {
  color: #c00;
  text-decoration: none;
}
.aside .item {
  padding: 0 1%;
}
.aside .item a {
  font-size: 75%;
  color: #c00;
  text-decoration: none;
}
.footer .nav li {
  float: left;
  border: 1px solid #d5d9df;
  width: 45%;
  padding: 1em 2%;
  margin: 0;
}
.copyright {
  font-size: 66%;
  padding: 1em 0;
}
/* ========== content hiding ======================= */
.wide-0, .wide-1 {
  display: none !important;
}
.narrow-0 {
  display: inherit !important;
}
/* ================ Responsive ========================*/
@media screen and (min-width:320px) {
  .home-link {
    margin-left: 75%;
    right: auto;
  }
}
@media screen and (max-width:360px) {
  #login label {
    display: block;
  }
}
@media screen and (min-width:460px) {
  #metafaq .question select {
    float: left;
    margin-right: 1%;
  }
  #metafaq .question select {
    width: 50%;
  }
}
@media screen and (min-width:660px) {
  .nav-main li {
    width: 43%;
  }
  .wide-1 {
    display: inherit !important;
  }
  .nav-main {
    clear: both;
  }
}
@media screen and (min-width:768px) {
  .logo {
    clear: both;
    margin-top: 0;
  }
  .nav-main {
    position: absolute;
    top: 76px;
    margin-left: 3%;
    width: 100%;
  }
  .nav-main li {
    width: auto;
    min-width: 0px;
    margin: 20px .1em 0 .1em;
    font-size: 15px;
  }
  .home-link {
    clear: left;
    float: left;
    margin-top: 20px;
    position: static;
    margin-left: 0;
  }
  .home-link img {
    height: 22px;
  }
  .keyline {
    clear: both;
    font-size: 9px;
    position: relative;
    top: -125px;
    float: right;
    padding-top: 3px;
  }
  .keyline li {
    float: left;
    padding: 0 .5em;
  }
  .logo {
    padding-top: 40px;
    float: left;
  }
  .csso {
    float: right;
    position: relative;
    padding: 0;
    top: -120px;
    clear: right;
  }
  .register {
    float: right;
  }
  #content {
    clear: both;
  }
  .supplimental .item {
    clear: none;
  }
  .all-products ol {
    float: left;
    padding: 0 1% 0 2%;
    width: 30%;
  }
  .all-products .insurance {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
  }
  .split {
    float: left;
  }
  .split-30 {
    width: 27%;
    margin-left: 2%;
  }
  .split-70 {
    width: 70%;
  }
  .split-60 .section {
    width: 100%;
  }
  #sidebar {
    float: right;
  }
  .footer {
    clear: both;
  }
  .aside .item {
    float: left;
    padding: 0 1%;
    width: 45%;
    height: 12em;
    overflow: hidden;
  }
  .footer .nav li {
    width: 15%;
    font-size: 66%;
  }
  .wide-0, .wide-1 {
    display: inherit !important;
  }
  .narrow-0 {
    display: none !important;
  }
}
@media screen and (min-width:920px) {
  .nav-main {
    width: 100%;
  }
  .nav-main li {
    font-size: 18px;
  }
  .home-link img {
    height: 24px;
  }
  #metafaq .question select, #metafaq .question input {
    float: left;
    margin-right: 1%;
    width: 40%;
  }
  #metafaq .question select {
    width: 37%;
  }
  .img .content {
    width: 65%;
  }
  .img img {
    width: 33%;
  }
  .type-4 {
    margin: 2%;
    width: 43%;
  }
}
@media screen and (min-width:1000px) {
  .nav-main li {
    font-size: 20px;
  }
  .home-link img {
    height: 28px;
  }
}
@media screen and (min-width:1024px) {
  .aside .item {
    width: 22%;
  }
}
@media screen and (min-width:1200px) {
  .nav-main li {
    font-size: 24px;
  }
  .home-link img {
    height: 32px;
  }
}
.wide .logo {
  clear: both;
  margin-top: 0;
}
.wide .nav-main {
  position: absolute;
  top: 76px;
  margin-left: 3%;
  width: 100%;
}
.wide .nav-main li {
  width: auto;
  min-width: 0px;
  margin: 20px .1em 0 .1em;
  font-size: 15px;
}
.wide .home-link {
  clear: left;
  float: left;
  margin-top: 20px;
  position: static;
  margin-left: 0;
}
.wide .home-link img {
  height: 22px;
}
.wide .keyline {
  clear: both;
  font-size: 9px;
  position: relative;
  top: -125px;
  float: right;
  padding-top: 3px;
}
.wide .keyline li {
  float: left;
  padding: 0 .5em;
}
.wide .logo {
  padding-top: 40px;
  float: left;
}
.wide .csso {
  float: right;
  position: relative;
  padding: 0;
  top: -120px;
  clear: right;
}
.wide .register {
  float: right;
}
.wide #content {
  clear: both;
}
.wide .supplimental .item {
  clear: none;
}
.wide .all-products ol {
  float: left;
  padding: 0 1% 0 2%;
  width: 30%;
}
.wide .all-products .insurance {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.wide .split {
  float: left;
}
.wide .split-30 {
  width: 27%;
  margin-left: 2%;
}
.wide .split-70 {
  width: 70%;
}
.wide .split-60 .section {
  width: 100%;
}
.wide #sidebar {
  float: right;
}
.wide .footer {
  clear: both;
}
.wide .aside .item {
  float: left;
  padding: 0 1%;
  width: 45%;
  height: 12em;
  overflow: hidden;
}
.wide .footer .nav li {
  width: 15%;
  font-size: 66%;
}
.wide .wide-0, .wide .wide-1 {
  display: inherit !important;
}
.wide .narrow-0 {
  display: none !important;
}
.wide .nav-main {
  width: 100%;
}
.wide .nav-main li {
  font-size: 18px;
}
.wide .home-link img {
  height: 24px;
}
.wide #metafaq .question select, .wide #metafaq .question input {
  float: left;
  margin-right: 1%;
  width: 40%;
}
.wide #metafaq .question select {
  width: 37%;
}
.wide .img .content {
  width: 65%;
}
.wide .img img {
  width: 33%;
}
.wide .type-4 {
  margin: 2%;
  width: 43%;
}
.wide .wrapper {
  width: 960px;
}
.wide .nav-main {
  width: 900px;
  margin-left: 30px;
}
.ie .logo {
  clear: both;
  margin-top: 0;
}
.ie .nav-main {
  position: absolute;
  top: 76px;
  margin-left: 3%;
  width: 100%;
}
.ie .nav-main li {
  width: auto;
  min-width: 0px;
  margin: 20px .1em 0 .1em;
  font-size: 15px;
}
.ie .home-link {
  clear: left;
  float: left;
  margin-top: 20px;
  position: static;
  margin-left: 0;
}
.ie .home-link img {
  height: 22px;
}
.ie .keyline {
  clear: both;
  font-size: 9px;
  position: relative;
  top: -125px;
  float: right;
  padding-top: 3px;
}
.ie .keyline li {
  float: left;
  padding: 0 .5em;
}
.ie .logo {
  padding-top: 40px;
  float: left;
}
.ie .csso {
  float: right;
  position: relative;
  padding: 0;
  top: -120px;
  clear: right;
}
.ie .register {
  float: right;
}
.ie #content {
  clear: both;
}
.ie .supplimental .item {
  clear: none;
}
.ie .all-products ol {
  float: left;
  padding: 0 1% 0 2%;
  width: 30%;
}
.ie .all-products .insurance {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.ie .split {
  float: left;
}
.ie .split-30 {
  width: 27%;
  margin-left: 2%;
}
.ie .split-70 {
  width: 70%;
}
.ie .split-60 .section {
  width: 100%;
}
.ie #sidebar {
  float: right;
}
.ie .footer {
  clear: both;
}
.ie .aside .item {
  float: left;
  padding: 0 1%;
  width: 45%;
  height: 12em;
  overflow: hidden;
}
.ie .footer .nav li {
  width: 15%;
  font-size: 66%;
}
.ie .wide-0, .ie .wide-1 {
  display: block !important;
}
.ie .narrow-0 {
  display: none !important;
}
.ie .nav-main {
  width: 100%;
}
.ie .nav-main li {
  font-size: 18px;
}
.ie .home-link img {
  height: 24px;
}
.ie #metafaq .question select, .ie #metafaq .question input {
  float: left;
  margin-right: 1%;
  width: 40%;
}
.ie #metafaq .question select {
  width: 37%;
}
.ie .img .content {
  width: 65%;
}
.ie .img img {
  width: 33%;
}
.ie .type-4 {
  margin: 2%;
  width: 43%;
}
.ie .wrapper {
  width: 960px;
}
.ie .nav-main {
  width: 900px;
  margin-left: 30px;
}

/* ================ Other =============================*/
.section, .clearboth {
  clear: both;
}

